[submodule "mcrails"]
	path = mcrails
	url = https://github.com/gregmalcolm/maniacs-mcrails
[submodule "unix_anywhere"]
	path = unix_anywhere
	url = https://github.com/gregmalcolm/maniacs-unix-anywhere
