[submodule "mcrails"]
	path = mcrails
	url = https://github.com/gregmalcolm/maniacs-mcrails
[submodule "unix-anywhere"]
	path = unix-anywhere
	url = https://github.com/gregmalcolm/maniacs-unix-anywhere
